<nav class="navbar navbar-light bg-light navbar-fixed-top">
    <!-- Use any element to open the sidenav -->
  <button class='btn btn-outline-secondary toggleSidenav open-button'><i class="p-0 fas fa-bars"></i></button>
  <button class='btn btn-outline-secondary toggleSidenav hidden-button close-button' ><i class="p-0 fas fa-times"></i></button>
  <button onclick="location.href='/map';" class="btn btn-outline-secondary" type="button"><i class="fas fa-globe-europe"></i>Map</button>
  <button onclick="location.href='/';" class="btn btn-outline-secondary" type="button"><i class="fas fa-home p-0"></i></button>
</nav>