{{#if message}}

    <div class="messages hideMe">
        <div class="alert alert-info mt-3 mb-0" role="alert">
            <background></background>
            {{message}}
        </div>
    </div>

{{/if}}

{{#if alert}}

    <div class="messages hideMe">
        <div class="alert alert-danger mt-3 mb-0" role="alert">
            <background></background>
            {{alert}}
        </div>
    </div>
    
{{/if}}

{{#if success}}

    <div class="messages hideMe">
        <div class="alert alert-success mt-3 mb-0" role="alert">
            <background></background>
            {{success}}
        </div>
    </div>
    
{{/if}}